.category-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.category-items-container{
    display: flex;
    column-gap: 16px;
    width: 100%;
    overflow-x: hidden;
}

.item-container {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.flex-col{
    flex-direction: column
} 

.pb-1{
    padding-bottom: 4px;
}