.login-container {
    color: white;
    width: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin: 0 auto;
    background-color: rgb(72, 72, 72);
    padding: 44px 32px;
    border: solid 1px red;
    border-radius: 8px;

}

#email, #password, #login-button {
    width: 100%;
    padding: 8px;
    font-size: 24px;
    border-radius: 8px;
}

#login-button  {
    background-color: red;
    color: white;
    border-style: none;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    width: 100%;
}